* {
  margin: 0;
  padding: 0;
}

.gameField {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  z-index: 5;
  position: absolute;
  width: 1280px;
  height: 720px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.UI {
  width: 100%;
  height: 33.4%;
  font-size: 300%;
}
body{}

#root {
  background-image: url("./space.jpg");
  background-size: 100%;
  background-repeat: no-repeat repeat-y;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-btn{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btn {
  width: 50%;
}

.ant-message {
  font-size: 40px;
}

.ant-message span div div div i svg{
  height: 34px !important;
  width: 34px !important;
}
